<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="table-fixed w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <div class="sm:flex-auto">
                  <h1 class="text-xl pl-4 text-left font-semibold text-gray-900 m-2">
                  <% if current_user == @user  %>
                    A list of people you would like to receive feedback from. Check the current status
                  <% else %>
                    A list of people <%= @user.name %> would like to receive feedback from
                  <% end %>
                  </h1>
                </div>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Recipient's name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type of feedback</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 text-center">Actions</th>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% current_user_feedback_requests&.each do |request| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= User.find_by(id: request.recipient).name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= request.feedback_type %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm <%= status_style(request.status) %>"><%= request.status %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-center">
                    <% if current_user == @user %>
                      <%= link_to "Undo",
                        request_feedback_path(request),
                        class: "mb-2 inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xs font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2",
                        data: {"turbo": true, "turbo-method": :delete }
                      %>
                    <%end%>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
