<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
       <% if current_user %>
      <%= render "shared/navbar" %>
      <%= yield %>
    <% else %>
      <div class="flex justify-center pt-8">
        <%= button_to("Sign in", "/auth/google_oauth2", class: "btn-primary btn-xl", method: :post, data: {turbo: false}) %>
      </div>
    <% end %>
  </body>
</html>
